<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="master.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="active.css">
    <script src="https://kit.fontawesome.com/69879bfcd5.js" crossorigin="anonymous"></script>
    <script src="active.js"></script>
    <title>Student Affairs</title>
    </head>
    <body>
        <div class="main-body">
                <div class="header">
                    <h2>Currently Active students</h2>
                </div>
                <div class="conatiner">
                    <form class="Search-bar">
                        <input id="searchBar" onclick="tableSearch()" autocomplete="off" type="text" placeholder="Search for students"/>
                        <button  type="button" onclick="tableSearch()" class="Button" > <i class="fa fa-search fa-2xl"></i> </button>
                    </form>
                </div>
        </div>
        <div name="tab">
            <table id="table">
                <tr>
                  <div name="th">
                  <th>Name</th>
                  <th id="ID">ID</th>
                  <th>GPA</th>
                  <th>Level</th>
                  <th>Phone</th>
                  <th>Edit Information</th>
                  <th>Edit Department</th>  
                </div>
                </tr>
              </table>
        </div>      
        </body>
</html>