{% extends 'base.html' %}
{% load static %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/AddStudent.css'%}">
    <script src="{% static 'js/AddStudent.js' %}"></script>
    <script src="https://kit.fontawesome.com/69879bfcd5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock headers %}
{% block content %}
            <div class="container">
            <form method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                    <div div class="img">
                    <img id="output" src="{% static 'photos/male.png'%}" alt="AR"> 
                    <input type="file" placeholder="IMG" name="photo" id="file-input" onchange="loadFile(event)">
                </div>
                    <div class="Inputs-container" >
                        <div class ="info">
                                <p for="page info"> Register A Student into System </p>
                        </div>

                        <div class="calender-container">
                            <div id="date" class="ipt-container ">
                                <input style="width: 80%;"  class="input-field" name="date" type="date" id="Sdate"  required="">  
                            </div>                               
                        </div>
                        <div class="input-container">

                            <div id="user" class="ipt-container">
                                <i class="fa fa-user fa-2xl icon" aria-hidden="true"></i>
                                <input class="input-field" type="text" id="Sname" name="Sname" placeholder="Student Name" >
                                <i class="fas fa-check-circle msg"></i>
                                <i class="fas fa-exclamation-circle msg"></i>
                                <small>Error message</small>
                            </div>                               

                            <div id="id" class="ipt-container">
                                <i class="fa-solid fa-id-card-clip fa-2xl icon"></i>
                                <input class="input-field" type="number" id="Sid" name="id" placeholder="Student ID" >  
                                <i class="fas fa-check-circle msg"></i>
                                <i class="fas fa-exclamation-circle msg"></i>
                                <small>Error message</small>
                            </div> 
                        </div>
                        <div class="input-container">
                            <div id="email" class="ipt-container">
                                <i class="fa-solid fa-envelope  fa-2xl icon"></i>
                                <input class="input-field" type="email" id="Semail" name = "email" placeholder="Student Email" >  
                                <i class="fas fa-check-circle msg"></i>
                                <i class="fas fa-exclamation-circle msg"></i>
                                <small>Error message</small>
                            </div>                               
            
                            <div id="gpa" class="ipt-container">
                                <i class="fa-solid fa-percent fa-2xl icon"></i>
                                <input class="input-field" type="number" id="Sgpa" step="0.001" name="gpa" placeholder="Student GPA" >  
                                <i class="fas fa-check-circle msg"></i>
                                <i class="fas fa-exclamation-circle msg"></i>
                                <small>Error message</small>
                            </div> 
                        </div>
                        <div class="input-container">
                            <div id="national id" class="ipt-container">
                                <i class="fa-solid fa-id-card fa-2xl icon"></i>
                                <input class="input-field" type="text" id="Snational-id" name="nationalid" placeholder="Student National ID" >  
                                <i class="fas fa-check-circle msg"></i>
                                <i class="fas fa-exclamation-circle msg"></i>
                                <small>Error message</small>
                            </div>                               
            
                            <div id="address" class="ipt-container">
                                <i class="fa-sharp fa-solid fa-location-dot fa-2xl icon"></i>
                                <input class="input-field" type="text" id="Saddress" placeholder="Student Address" name="address" >  
                                <i class="fas fa-check-circle msg"></i>
                                <i class="fas fa-exclamation-circle msg"></i>
                                <small>Error message</small>
                            </div> 
                        </div>
                        <div class="input-container">
                            <div id="phone" class="ipt-container">
                                <i class="fa-solid fa-phone fa-2xl icon"></i>
                                <input class="input-field" type="tel" id="Sphone" name="phonenumber" placeholder="Student Phone Number" >  
                                <i class="fas fa-check-circle msg"></i>
                                <i class="fas fa-exclamation-circle msg"></i>
                                <small>Error message</small>
                            </div>                               
            
                            <div id="department" class="ipt-container A">
                                <i class="fas fa-sitemap fa-2xl icon" aria-hidden="true"></i>
                                <input class="input-field" type="text" id="Sdepartment" name="department" placeholder="Department  : General" disabled="">  

                            </div> 
                        </div>
                    </div>
                    <div class="Radios-container" >
                        
                            <div class="info">  Select The Level </div>
                            <div class="Radiobutton">
                                <input type="radio" id="slevel1" name="Slevel" value="1">
                                <label for="slevel1" class = "a">level 1</label>

                                <input type="radio" id="slevel2" name="Slevel" value="2">
                                <label for="slevel2">level 2</label>

                                <input type="radio" id="slevel3" name="Slevel" value="3">
                                <label for="slevel3" >level 3</label>

                                <input type="radio" id="slevel4" name="Slevel" value="4">
                                <label for="slevel4" class="b">level 4</label>
                            </div>


                            <div class="info">  Select The Status </div>
                            <div class="Radiobutton">
                                <input type="radio" id="inactive" name="Sstatus" value="True">
                                <label for="inactive" class="a">Active</label>

                                <input type="radio" id="active" name="Sstatus" value="False">
                                <label for="active" class="b">Inactive</label>
                            </div>


                    <div class="info">  Select The Gender </div>
                            <div class="Radiobutton">
                                <input type="radio" id="male" name="Sgender" value="Male">
                                <label for="male" class="a">Male</label>

                                <input type="radio" id="female" name="Sgender" value="Female">
                                <label for="female" class="b">Female</label>
                            </div> 
                    </div>

                    <div class="input-container butn">
                        <input type="reset" class="resetButton">
                        <input type="submit" class="submit" value="Submit">
                    </div>
            </form>
            </div>
    {% endblock content %}
