{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>Index</title>
</head>
<body>
    <div= class="container">
          <div class="image" style="background-image: url('{% static 'photos/trying.jpeg'%}');">
            <img src ="{% static 'photos/logoofpic.png' %}" alt="ar" srcset="">
        </div>
        <div class="Boxs">
            <div class="box overlay" id=" N1" ><p><a href="{% url 'addstudent' %}">Add Student</a></p></div>
            <div class="box overlay" id="N2"> <p onclick="goToPage('{% url 'addstudent' %}')">View All <br> Students</p></div>
            <div class="box overlay" id="N3"><p onclick="goToPage('active.html')">View Active<br> Students</p></div>
            <div class="box overlay" id="N4"><p onclick="goToPage('inactive.html')">View InActive<br> Students</p></div>
        </div>
        <div class="BodyContent" >
            <div class="div1" > 
                <div  > <h2>Announcement</h2> </div> 
                <div class="content" id="Announcement-content"> 
                    
                </div>
            </div>
            <div class="div2"> 
                <div> <h2>Meeting schedule</h2> </div>
                <div class="content" id="meeting-content">  
                </div>
            </div>
        </div>
    </div>


</body>
</html>
