#form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .input-container {
  display: flex;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  }
  .icon {
  margin-left:10px ;
  padding: 10px;
  background: white;
  border-width: 0.5px;
  border:none;
  color:  #23475F;
  min-width: auto;
  padding: 2%;
  text-align: center;
  }
  
  
  .input-field:focus {
  border:none;
  }
  /* Style the radio buttons */
  /*Style the input fields */

  .input-field {
   width: 100%;
   outline: none;
  }
  .input-field{
    border-radius: 30px;
    text-align: left;
    padding: 0px;
    border: none;
    max-width: 90%;
    min-width: 10%;
  }
  .input-container{
    border: #23475F;
    border-style: groove;
    border-radius: 50px;
    padding: 8px;
  }

  .input-container:hover{
    outline-style: groove;
    outline-color: #A0E4FA;
  }



  /*table from here*/

  table, th, td {
    border:none;
  }
  table {
    border-collapse: separate;
    margin:0% 7% 5% 7%;
    width: 86%;
    border-spacing: 0px 6px;
  }
  td {
    text-align: center;
    font-weight: 400;
    font-family: Arial;
  }
 
  th {
    height: 40px;
    background-color: #23475F;
    color: #FFFFFF;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
  }

  #ID{
    letter-spacing: 0.07em;
  }

  .tab {
    display: grid;
    grid-template-columns: 35% 20% 15% 15% 15%;
    grid-row-gap: 10px;
  }

  td{
    background-color: #F6F6F6;
    padding-top: 1.5% ;
    padding-bottom: 1.5%;
  }
i{
    color:#23475F;
}
